:root {
    --light-gray: #262a2b;
    --gray: #1B1E1F;
    --dark-gray: #0f0e10; 
    --accent-color: #f7d3b1;
}


body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--gray);
    color: white;
}



/* Navigation bar start */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-gray);
    margin: 0;
    border-bottom: 5px var(--accent-color) solid;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar ul {
    display: flex;
    list-style: none;
    padding: 17px;
    padding-left: 0;
    margin: 0;
}
.navbar ul a, .dropdown .content a {
    background-color: var(--light-gray);
    padding: 17px;
    text-decoration: none;
    color: var(--accent-color);
    font-size: 14px;
    font-weight: bold;    
}
.navbar li {
    flex-shrink: 0;
}
.active, .navbar a:hover, button.w-icon:hover, .dropdown .content a:hover {
    background-color: var(--accent-color) !important;
    color: var(--light-gray) !important;
}

/* Dropdown for small screens */
button.w-icon {
    color: var(--accent-color);
    padding: 0px;
    border: none;
    outline: none;
    background-color: inherit;
    padding: 15px;
}
.dropdown .content {
    display: none;
    position: absolute;
}
.dropdown:hover .content {
    display: flex;
    flex-direction: column;
}
/* Navigation bar end */

.main {
    margin-top: 57px;
    display: flex;
    min-height: 100vh;
}

.content {
    padding: 15px;
    flex-shrink: 3;
}
.content a {
    color: var(--accent-color);
}

/* Sidebar start */
.sidebar {
    background-color: var(--dark-gray);
    width: 274px;
    padding: 10px 1px;
}
.sidebar ol {
    margin: 0;
    counter-reset: item;
}
.sidebar ol>li {
    display: block;
}
.sidebar ol>li:before {
    content: counters(item, ".") ". "; counter-increment: item;
}
.sidebar a {
    color: white;
}
/* Sidebar end */


@media (min-width: 100px) and (max-width: 599px) {
    .navbar ul {
        display: none;
    }
    .main {
        flex-direction: column;
    }
    .sidebar {
        width: 100vw;
    }
}

@media (min-width: 600px) and (max-width: 4000px) {
    .dropdown {
        display: none;
    }
}